body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}


.person-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    background-color: rgb(240, 240, 240);
    /* height: 30vw; */
    padding: 7vw 2vw 7vw 2vw;
    /* width: 0vw; */
    border-radius: 20px;
}

.person-image
{
    height: 200px;
    width: 200px;
    background-color: burlywood;
    border-radius: 50%;
}

.person-greeting
{
    font-size: 30px;
}

